.App {
  text-align: center;
}

#back-to-top{
  opacity: 0;
}
.App-main {
  padding: 0px;
  margin: 0
}

.App-section {
  margin-bottom: 40px;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fdfafa;
  padding: 0;

  margin: 0;
}

.sacTopo .blocks {
  display: flex;
}

.sacTopo .blocks .block {
  flex: 1;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 255, 0.2);

  padding: 20px;
}

.sacTopo .blocks .block a {
  display: flex;
  cursor: pointer;
}

.sacTopo .blocks .block .desc {
  display: flex;
  margin-left: 90px;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 0 20px;
}

.sacTopo .blocks .block:nth-child(1) {
  background: url(../assets/us/sac-venda.png) 0 0 no-repeat;
  margin-left: 25px;
}

.sacTopo .blocks .block:nth-child(2) {
  background: url(../assets/us/sac-assistencia.png) 0 0 no-repeat;
  margin-left: 25px;
}

.sacTopo .blocks .block:nth-child(3) {
  background: url(../assets/us/sac-contato.png) 0 0 no-repeat;

  margin-left: 25px;
}

.sacTopo a {
  text-decoration: none;
}

.sacTopo .blocks .block .desc .title {
  color: #ffbc09;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}

.sacTopo .blocks .block .desc p {
  color: #010101;
  margin-top: 10px;
}

.sacTopo {
  padding-bottom: 60px;

}

@media screen and (max-width: 480px) {
  .sacTopo .blocks {
    display: block;
    padding-top: 25px;
  }

  .sacTopo .title{
    padding-left: 40px;
  }


  .blocks a {
    margin-left: 65px;
  }

  .sacTopo .blocks .block {
    border-right: none;
    margin-bottom: 20px;
  }

  .sacTopo .blocks .block a {
    display: flex;
    flex-direction: column;
  }

  .sacTopo .blocks .block .desc {
    margin-left: 0;
    text-align: center;
  }




  #back-to-top {
    opacity: 1;
    position: fixed;
    bottom: 13px;
    right: 10px;
    background-color: #f1ee07;
    color: #0f0d0d;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    display: none;
    width: 110px;
    height: 30px;
    align-self: center;
  }

  #back-to-top:hover {
    background-color: #002a58;
  }

}